body 
{
    background-color: #FFC897;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-position:5% 10%;
}
.navbar-inverse {
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
}