body 
{
    background-color: #FFC897;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-position: 25px 75px;
}

.bgbase
{
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
    height: 110px;
}

.bgcreate
{
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
    height: 345px;
}

.bgcompte
{
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
    height: 250px;
}


.boutonagrandir
{
    width: 100px;
    height: 25px;
}

.credit
{
    width: 125px;
    height: 25px;
}

.container
{
    margin-bottom: 50px;
}