@font-face
{
  font-family: 'ChalkdusterLocal';
  src: url('../font/Chalkduster.eot?') format('eot'),
       url('../font/Chalkduster.woff') format('woff'),
       url('../font/Chalkduster.ttf') format('truetype'),
       url('../font/Chalkduster.svg#Chalkduster') format('svg');
  font-weight: normal;
  font-style: normal;
}



body
{
background: rgba(0, 0, 0, 0.175);
}
/*Rose : 193 – 99 – 124
police : Chalkduster, fantasy*/

.btn-lg{
    background:rgba(193 ,99 , 124);
    padding: .1rem 1rem;
    font-size: 1.25rem;
    color:white;
    line-height: 3;
    border-radius: 3px;

}

.bgInfosPink{
  background: rgba(193 ,99 , 124);
  border-radius: 3px;
}

.bgPlat{
  background: rgba(87, 87, 87,0.1);
}

.champConnexion{
  height:30px;
  width:160px;
}

#commande {
  background: rgba(255, 255, 255,0.8);
  position: fixed;
  bottom: 0%;
  width: 75vw;
  height:10vh;
  left:50vw;
  margin-left: -37.5vw;
  border-radius: 3px;
}

.enTete
{
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "ChalkdusterLocal";
}
.enTeteMenu
{
  font-size: 2rem;
  font-weight: bold;
  font-family: "ChalkdusterLocal";
}
.standard
{
  font-size:1.6rem;
}
.colorPink{
  color :rgba(193 ,99 , 124);
}
.colorGrey{
  color:rgb(108, 117, 125);
}
.standardInfos{
  font-family: "berkshireswash";
}
.enTeteCommande
{
  font-family: "ChalkdusterLocal";
  padding: .5rem 1rem;
  font-size: 2rem;
  color:white;
  background-color: rgba(193 , 99 , 124, 0.9);
  border-radius: 3px;
}

.bgbase
{
    background-color: rgba(193, 99, 124,0.9);
    border-radius: 3px;
}

.bgbase2
{
    background-color: white;
    border-radius: 3px;
}

.bgcreate
{
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
    height: 345px;
}

.bgcompte
{
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
    height: 250px;
}

.boutonagrandir
{
    width: 100%;
    height: 75%;
}

.container{
  margin-bottom: 8%;
}
