/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face
{
  font-family: 'RobotoCondensed-Regular-webfontLocal';
  src: url('assets/font/RobotoCondensed-Regular-webfont.eot?') format('eot'),
       url('assets/font/RobotoCondensed-Regular-webfont.woff') format('woff'),
       url('assets/font/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
       url('assets/font/RobotoCondensed-Regular-webfont.svg#RobotoCondensed-Regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}



body
{
background: rgba(0, 0, 0, 0.175);
}



.btn-lg{
    background:#00bfa5;
    padding: .1rem 1rem;
    font-size: 1.25rem;
    color:white;
    line-height: 3;
    border-radius: 3px;

}
.btn-menu{
  color: white;
  margin:0;
  padding:10px;
  border-radius:0
}
.bgInfosGreen{
  background: #00bfa5;
  border-radius: 3px;
}

.bgPlat{
  background: rgba(87, 87, 87,0.1);
}

.champConnexion{
  height:30px;
  width:160px;
}

#commande {
  background: rgba(255, 255, 255,0.8);
  position: fixed;
  bottom: 0%;
  width: 75%;
  height:10%;
  left:50vw;
  margin-left: -37.5vw;
  border-radius: 3px;
}

.enTete
{
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "RobotoCondensed-Regular-webfontLocal";
}

.votreCompte
{
  font-size:3rem;
  font-weight: bold;
  font-family: "RobotoCondensed-Regular-webfontLocal";
}

.enTeteMenu
{
  font-size: 2rem;
  font-weight: bold;
  font-family: "RobotoCondensed-Regular-webfontLocal";
}
.jourMenu{
    color: #00bfa5;
}

.standard
{
  font-size:1rem;
}

.colorGreen{
  color :#00bfa5;
}
.colorGrey{
  color:rgb(108, 117, 125);
}
.standardInfos{
  font-family: "berkshireswash";
}
.btn
{
  color:white;
}
.enTeteCommande
{
  font-family: "RobotoCondensed-Regular-webfontLocal";
  padding: .5rem 1rem;
  font-size: 2rem;
  color:white;
  background-color: #00bfa5;
  border-radius: 3px;
}

.bgbase
{
    background-color: white;
    border-radius: 3px;
}

.bgbase2
{
    background-color: white;
    border-radius: 3px;
}

.bgcreate
{
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
    height: 345px;
}

.bgcompte
{
    background-color: #d86f6fe6;
    border-color: #ddaaaae6;
    height: 250px;
}

.boutonagrandir
{
    height: 75%;
}

.container{
  margin-bottom: 8%;
}
