
<ul class="nav nav-tabs mt-3">
  <li class="jour enTeteMenu ml-5"><a data-toggle="tab" id="ongletLundi" class="jourMenu" href="#lundi" value="0">Lundi</a></li>
  <li class="jour enTeteMenu ml-5"><a data-toggle="tab" id="ongletMardi" class="jourMenu" href="#mardi" value="1">Mardi</a></li>
  <li class="jour enTeteMenu ml-5"><a data-toggle="tab" id="ongletMercredi" class="jourMenu" href="#mercredi" value="2">Mercredi</a></li>
  <li class="jour enTeteMenu ml-5"><a data-toggle="tab" id="ongletJeudi" class="jourMenu" href="#jeudi" value="3">Jeudi</a></li>
  <li class="jour enTeteMenu ml-5"><a data-toggle="tab" id="ongletVendredi" class="jourMenu" href="#vendredi" value="4">Vendredi</a></li>
</ul>

<div class="tab-content">
    <div id="lundi" class="tab-pane fade">
    </div>

    <div id="mardi" class="tab-pane fade">
    </div>

    <div id="mercredi" class="tab-pane fade">
    </div>

    <div id="jeudi" class="tab-pane fade">
    </div>

    <div id="vendredi" class="tab-pane fade">
    </div>
</div>
