  <div class = "row bgbase">
    <div class="col-6">
      <img src="assets\images\logoV3.png" class="img-responsive" style="width:100%" alt="logo">
    </div>
    <div class="col-6 mt-5" >
      <form class="navbar-form navbar-right inline-form" (ngSubmit)="onSubmit(f)" #f="ngForm" > <!--*ngIf="HIDE != true"-->
        <div class="form-group" *ngIf="HIDE != false">
        <input class="champConnexion" type="text" id="mail" placeholder="Email" ngModel required name="email">
          <input class="champConnexion" type="password" id="mdp" placeholder="Mot de passe" ngModel required name="mdp">
          <button type="submit" id="submit" class="btn btn-sm standard bgInfosGreen" >S'identifier</button>
        </div>
        <div class = "text-center standard" *ngIf="HIDE != false"  >
          <a [routerLink]="['create']" >Vous n'avez pas encore de compte ? Créez le ici !</a>
        </div>
        <br>

        <div class="text-center">
          <div class="alert alert-danger standard" id="disable">Vous ne pouvez plus passer commande !</div>
          <div class="alert alert-success standard" id="enable">Vous pouvez passer commande !</div>

        </div>

      </form>
    </div>
  </div>
  <div class="row rounded bg-secondary p-2">
    <a [routerLink]="['']" class="btn btn-menu standard">Accueil</a>
    <a [routerLink]="['infos']" class="btn btn-menu standard" *ngIf="HIDE != true" >Votre compte</a>
    <a [routerLink]="['gestion']" class="btn btn-menu standard" *ngIf="HIDE != true" >Gestion</a>
    <div class="btn standard bgInfosGreen " *ngIf="HIDE != true"><span class="align-middle"  >Crédit: <span>{{user?.money}}</span> €</span></div>
    <a [routerLink]="['']" class=" btn btn-menu standard bgInfosRed  ml-auto" *ngIf="HIDE != true" (click)='logout()'>Déconnexion</a>
  </div>
<router-outlet></router-outlet>
